{% extends 'create/base_create.html' %}

{% block title %}
    Reservation details
{% endblock %}
{% block miscellanea %}
     <script>
        document.addEventListener('DOMContentLoaded', function () {
            const passengers = {{ booking.passengers|safe }};  

            const passengerListDiv = document.getElementById('passenger-list');

            passengerListDiv.innerHTML = '';

            if (passengers && passengers.length > 0) {
                const table = document.createElement('table');
                table.setAttribute('class', 'usertable');
                
                const headerRow = document.createElement('tr');
                headerRow.innerHTML = `
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Obywatestwo</th>
                    <th>Wiek</th>
                    <th>Bagaż</th>
                `;
                table.appendChild(headerRow);

                // Populate table rows
                passengers.forEach(passenger => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${passenger.name}</td>
                        <td>${passenger.surname}</td>
                        <td>${passenger.nationality}</td>
                        <td>${passenger.age}</td>
                        <td>${passenger.luggage}</td>
                    `;
                    table.appendChild(row);
                });

                passengerListDiv.appendChild(table);
            } else {
                passengerListDiv.textContent = 'No passengers found.';
            }
        });
    </script>
{% endblock %}
{% block login %}

    <a href="/logout" class="button">Wyloguj się</a>


{% endblock %}
{% block content %}
    <div class="maindiv">
    <h1>Rezerwacja {{ booking.booking_id }} </h1>
    <h4>Użytkownik: {{ booking.user.email }}</h4>
    <h4>Zarezerwowano: {{ booking.booking_date|date:"Y-m-d" }} {{ booking.booking_date|time:"H:i" }}</h4>
    <div class="flight_info">
    <h2>Informacje o locie</h2>
    <table class="fd">
                    <tbody>
                        <tr>
                            <td>{{ booking.flight_id.departure_time|date:"Y-m-d" }}</td>
                            <td></td>
                            <td>{{ booking.flight_id.arrival_time|date:"Y-m-d" }}</td>
                        </tr>
                        <tr>
                            <td>{{ booking.flight_id.departure_time|time:"H:i" }}</td>
                            <td>-----{{ booking.flight_id.duration }}----></td>
                            <td>{{ booking.flight_id.arrival_time|time:"H:i" }}</td>
                        </tr>
                        <tr>
                            <td>{{ booking.flight_id.origin }}</td>
                            <td></td>
                            <td>{{ booking.flight_id.destination }}</td>
                        </tr>
                        
                    </tbody>
                </table>
        
    <h2>Pasażerowie</h2>
    <h3>Liczba pasażerów: {{ booking.passanger_number }}</h3>
    <div id="passenger-list">
        

    </div>
    </div>
    <p>
    {% if flag == 0 %}
        <a href="/pastr_list" class="button">Powrót</a>
    {% elif flag == 1 %}
        <a href="/futr_list" class="button">Powrót</a>
    {% endif %}
    </p>
    </div>
    {% endblock %}